body{
    margin: 0;
    padding: 0;
}

#header{
    height: 200px;
    background: lightgreen;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#titel{
    text-align: center;
}

#main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 4rem;
    grid-gap: 4rem;
}

#main > * {
}

#members{
    border: solid;
    border-collapse: collapse;
}

th
{
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

td
{
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

#footer{
    height: 200px;
}


/* Erste Button auf index.html */
#firstBtn{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    background: lightgreen;
}

/* Form auf caesar.html */

/*  Klartext/Geheimtext  */
#klartext, #geheimtext{
    min-width: 500px;
    min-height: 100px;
}



/*Home Button in header */
#homeBtn{
    background: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*Container with Position from Form */
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
/*All div in flex-container */
.flex-container > div {
    margin: 10px;
}

